{% extends "base.html" %} {% block title %} Admin Home {% endblock %} {% block
content %}

<main class="px-2 lg:px-0 lg:pl-3 flex flex-col gap-8 w-full">
  <!-- sidebar and content -->
  <div class="flex gap-4">
    <!-- sidebar -->
    <div
      class="hidden c-scrollbar lg:flex flex-col w-80 border-l border-[#E3DEC2] bg-[#f7f6f6] sticky top-0 h-[100vh] shrink-0 overflow-y-scroll"
    >
      <a
        href="{{ url_for('index') }}"
        class="bg-light p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-darkmain transition-all duration-100 ease-in-out items-center"
      >
        <img
          src="{{ url_for('static', filename='assets/grip-vertical-solid.svg') }}"
          class="h-6"
          alt=""
        />
        <span>لوحة التحكم</span>
      </a>

      <!-- Healthcare Facilities Accordion -->
      <div class="accordion-item border-y border-gray-300">
        <div
          class="accordion-header hover:bg-light/20 p-5 items-center font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#f7f6f6] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out cursor-pointer"
        >
          <img
            src="{{ url_for('static', filename='assets/stethoscope-solid.svg') }}"
            class="h-6"
            alt=""
          />
          <span>المرافق الصحية</span>
          <img
            src="{{ url_for('static', filename='assets/green arrow.svg') }}"
            alt="arrow"
            class="w-3.5 arrow transition-transform duration-300 mr-auto"
          />
        </div>

        <!-- Accordion Content -->
        <div
          class="accordion-content flex flex-col transition-all duration-300 ease-in-out transform origin-top opacity-0 scale-y-0 hidden bg-[#fdfdfd]"
        >
          <a
            href="{{ url_for('view_facility') }}"
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/hospital-solid (2).svg') }}"
              class="h-6"
              alt=""
            />
            <span>المستشفيات</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/house-medical-circle-check-solid (1).svg') }}"
              class="h-6"
              alt=""
            />
            <span>المجمعات العامة</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/house-medical-flag-solid (1).svg') }}"
              class="h-6"
              alt=""
            />
            <span>المجمعات الخاصة</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/eye-solid (1).svg') }}"
              class="h-6"
              alt=""
            />
            <span>البصريات</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/capsules-solid (1).svg') }}"
              class="h-6"
              alt=""
            />
            <span>الصيدليات</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/tooth-solid (1).svg') }}"
              class="h-6"
              alt=""
            />
            <span>المختبرات السنية</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/flask-solid.svg') }}"
              class="h-6"
              alt=""
            />
            <span>المختبرات</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/hand-holding-medical-solid (1).svg') }}"
              class="h-6"
              alt=""
            />
            <span>خدمات الدعم</span>
          </a>
        </div>
      </div>

      <!-- Quality Indicators Accordion -->
      <div class="accordion-item border-y border-gray-300">
        <div
          class="accordion-header hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#f7f6f6] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out cursor-pointer"
        >
          <img
            src="{{ url_for('static', filename='assets/ranking-star-solid.svg') }}"
            class="h-6"
            alt=""
          />
          <span>مؤشرات الجودة</span>
          <img
            src="{{ url_for('static', filename='assets/green arrow.svg') }}"
            alt="arrow"
            class="w-3.5 arrow transition-transform duration-300 mr-auto"
          />
        </div>

        <!-- Accordion Content -->
        <div
          class="accordion-content flex flex-col transition-all duration-300 ease-in-out transform origin-top opacity-0 scale-y-0 hidden bg-[#fdfdfd]"
        >
          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/hospital-solid (2).svg') }}"
              class="h-6"
              alt=""
            />
            <span>المستشفيات 1</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/hospital-solid (2).svg') }}"
              class="h-6"
              alt=""
            />
            <span>المستشفيات 2</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/hospital-solid (2).svg') }}"
              class="h-6"
              alt=""
            />
            <span>المستشفيات 3</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/hospital-solid (2).svg') }}"
              class="h-6"
              alt=""
            />
            <span>المستشفيات 4</span>
          </a>
        </div>
      </div>

      <!-- User Management Accordion -->
      <div class="accordion-item border-y border-gray-300">
        <div
          class="accordion-header hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#f7f6f6] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out cursor-pointer"
        >
          <img
            src="{{ url_for('static', filename='assets/user-group-solid.svg') }}"
            class="h-6"
            alt=""
          />
          <span>إدارة المستخدمين</span>
          <img
            src="{{ url_for('static', filename='assets/green arrow.svg') }}"
            alt="arrow"
            class="w-3.5 arrow transition-transform duration-300 mr-auto"
          />
        </div>

        <!-- Accordion Content -->
        <div
          class="accordion-content flex flex-col transition-all duration-300 ease-in-out transform origin-top opacity-0 scale-y-0 hidden bg-[#fdfdfd]"
        >
          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/user-plus-solid.svg') }}"
              class="h-6"
              alt=""
            />
            <span>مستخدم جديد</span>
          </a>

          <a
            href=""
            class="hover:bg-light/20 p-5 font-semibold text-lg text-darkmain border-b border-[#E3DEC2] flex gap-2 border-r-4 border-r-[#fdfdfd] hover:border-r-darkmain/20 transition-all duration-100 ease-in-out items-center"
          >
            <img
              src="{{ url_for('static', filename='assets/users-solid (2).svg') }}"
              class="h-6"
              alt=""
            />
            <span>جميع المستخدمين</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Content  -->
    <div
      class="flex flex-col gap-8 mt-6 mb-6 sm:mb-2 w-full xl:max-w-[1200px] overflow-hidden p-1"
    >
      <!-- heading  -->
      <div class="flex items-center justify-between gap-6">
        <h2 class="text-2xl sm:text-3xl lg:text-3xl text-lightmain font-bold">
          لوحة تحكم المشرف
        </h2>
        <a
          href="{{ url_for('add_facility') }}"
          class="lg:text-lg font-medium text-darkmain lg:py-1 py-0.5 px-2 lg:px-3 border border-darkmain rounded-lg bg-light hover:bg-light/30 shrink-0"
          >إضافة منشأة</a
        >
      </div>

      <!-- facility info -->
      <div
        class="flex items-center gap-3 sm:gap-5 lg:gap-x-10 xl:gap-x-20 button-slider overflow-hidden sm:flex-wrap 2xl:justify-between"
      >
        <!-- Hospitals  -->
        <div
          class="bg-darkmain/90 hover:bg-darkmain/80 rounded-2xl w-40 sm:w-44 lg:w-48 aspect-[7/4] flex flex-col gap-0 text-white overflow-hidden shrink-0 shadow-sm shadow-lightmain/20"
        >
          <button
            class="flex gap-2 sm:gap-3 items-center w-full px-3 py-2 lg:pt-4 sm:px-4 h-full"
            data-tab="hospitals"
          >
            <img
              src="{{ url_for('static', filename='assets/hospital-solid (1).svg') }}"
              class="w-7 sm:w-9 lg:w-10 flex"
              alt=""
            />
            <div class="flex flex-col gap-0.5 lg:gap-3 items-start">
              <h5
                class="flex font-bold text-xl sm:text-2xl lg:text-3xl leading-5"
              >
                8
              </h5>
              <h5
                class="flex text-right font-semibold text-lg sm:text-xl lg:text-2xl leading-4 sm:leading-5"
              >
                المستشفيات
              </h5>
            </div>
          </button>
        </div>

        <!-- Public Complexes  -->
        <div
          class="bg-darkmain/90 hover:bg-darkmain/80 rounded-2xl w-40 sm:w-44 lg:w-48 aspect-[7/4] flex flex-col gap-0 text-white overflow-hidden shrink-0 shadow-sm shadow-lightmain/20"
        >
          <button
            class="flex gap-2 sm:gap-3 items-center w-full px-3 py-2 lg:pt-4 sm:px-4 h-full"
            data-tab="Public-Complexes"
          >
            <img
              src="{{ url_for('static', filename='assets/house-medical-circle-check-solid.svg') }}"
              class="w-7 sm:w-9 lg:w-10 flex"
              alt=""
            />
            <div class="flex flex-col gap-0.5 lg:gap-3 items-start">
              <h5
                class="flex font-bold text-xl sm:text-2xl lg:text-3xl leading-5"
              >
                8
              </h5>
              <h5
                class="flex text-right font-semibold text-lg sm:text-xl lg:text-2xl leading-4 sm:leading-5"
              >
                المجمعات العامة
              </h5>
            </div>
          </button>
        </div>

        <!-- Private Complexes -->
        <div
          class="bg-darkmain/90 hover:bg-darkmain/80 rounded-2xl w-40 sm:w-44 lg:w-48 aspect-[7/4] flex flex-col gap-0 text-white overflow-hidden shrink-0 shadow-sm shadow-lightmain/20"
        >
          <button
            class="flex gap-2 sm:gap-3 items-center w-full px-3 py-2 lg:pt-4 sm:px-4 h-full"
            data-tab="Private-Complexes"
          >
            <img
              src="{{ url_for('static', filename='assets/house-medical-flag-solid.svg') }}"
              class="w-7 sm:w-9 lg:w-10 flex"
              alt=""
            />
            <div class="flex flex-col gap-0.5 lg:gap-3 items-start">
              <h5
                class="flex font-bold text-xl sm:text-2xl lg:text-3xl leading-5"
              >
                8
              </h5>
              <h5
                class="flex text-right font-semibold text-lg sm:text-xl lg:text-2xl leading-4 sm:leading-5"
              >
                المجمعات الخاصة
              </h5>
            </div>
          </button>
        </div>

        <!-- Optics  -->
        <div
          class="bg-darkmain/90 hover:bg-darkmain/80 rounded-2xl w-40 sm:w-44 lg:w-48 aspect-[7/4] flex flex-col gap-0 text-white overflow-hidden shrink-0 shadow-sm shadow-lightmain/20"
        >
          <button
            class="flex gap-2 sm:gap-3 items-center w-full px-3 py-2 lg:pt-4 sm:px-4 h-full"
            data-tab="Optics"
          >
            <img
              src="{{ url_for('static', filename='assets/eye-solid.svg') }}"
              class="w-7 sm:w-9 lg:w-10 flex"
              alt=""
            />
            <div class="flex flex-col gap-0.5 lg:gap-3 items-start">
              <h5
                class="flex font-bold text-xl sm:text-2xl lg:text-3xl leading-5"
              >
                8
              </h5>
              <h5
                class="flex text-right font-semibold text-lg sm:text-xl lg:text-2xl leading-4 sm:leading-5"
              >
                البصريات
              </h5>
            </div>
          </button>
        </div>

        <!-- Pharmacy  -->
        <div
          class="bg-darkmain/90 hover:bg-darkmain/80 rounded-2xl w-40 sm:w-44 lg:w-48 aspect-[7/4] flex flex-col gap-0 text-white overflow-hidden shrink-0 shadow-sm shadow-lightmain/20"
        >
          <button
            class="flex gap-2 sm:gap-3 items-center w-full px-3 py-2 lg:pt-4 sm:px-4 h-full"
            data-tab="Pharmacies"
          >
            <img
              src="{{ url_for('static', filename='assets/capsules-solid.svg') }}"
              class="w-7 sm:w-9 lg:w-10 flex"
              alt=""
            />
            <div class="flex flex-col gap-0.5 lg:gap-3 items-start">
              <h5
                class="flex font-bold text-xl sm:text-2xl lg:text-3xl leading-5"
              >
                8
              </h5>
              <h5
                class="flex text-right font-semibold text-lg sm:text-xl lg:text-2xl leading-4 sm:leading-5"
              >
                الصيدليات
              </h5>
            </div>
          </button>
        </div>

        <!-- Dental Labs  -->
        <div
          class="bg-darkmain/90 hover:bg-darkmain/80 rounded-2xl w-40 sm:w-44 lg:w-48 aspect-[7/4] flex flex-col gap-0 text-white overflow-hidden shrink-0 shadow-sm shadow-lightmain/20"
        >
          <button
            class="flex gap-2 sm:gap-3 items-center w-full px-3 py-2 lg:pt-4 sm:px-4 h-full"
            data-tab="dental-labs"
          >
            <img
              src="{{ url_for('static', filename='assets/tooth-solid.svg') }}"
              class="w-7 sm:w-9 lg:w-10 flex"
              alt=""
            />
            <div class="flex flex-col gap-0.5 lg:gap-3 items-start">
              <h5
                class="flex font-bold text-xl sm:text-2xl lg:text-3xl leading-5"
              >
                8
              </h5>
              <h5
                class="flex text-right font-semibold text-lg sm:text-xl lg:text-2xl leading-4 sm:leading-5"
              >
                المختبرات السنية
              </h5>
            </div>
          </button>
        </div>

        <!-- Laboratories  -->
        <div
          class="bg-darkmain/90 hover:bg-darkmain/80 rounded-2xl w-40 sm:w-44 lg:w-48 aspect-[7/4] flex flex-col gap-0 text-white overflow-hidden shrink-0 shadow-sm shadow-lightmain/20"
        >
          <button
            class="flex gap-2 sm:gap-3 items-center w-full px-3 py-2 lg:pt-4 sm:px-4 h-full"
            data-tab="Laboratories"
          >
            <img
              src="{{ url_for('static', filename='assets/flask-vial-solid.svg') }}"
              class="w-7 sm:w-9 lg:w-10 flex"
              alt=""
            />
            <div class="flex flex-col gap-0.5 lg:gap-3 items-start">
              <h5
                class="flex font-bold text-xl sm:text-2xl lg:text-3xl leading-5"
              >
                8
              </h5>
              <h5
                class="flex text-right font-semibold text-lg sm:text-xl lg:text-2xl leading-4 sm:leading-5"
              >
                المختبرات
              </h5>
            </div>
          </button>
        </div>

        <!-- Support Services  -->
        <div
          class="bg-darkmain/90 hover:bg-darkmain/80 rounded-2xl w-40 sm:w-44 lg:w-48 aspect-[7/4] flex flex-col gap-0 text-white overflow-hidden shrink-0 shadow-sm shadow-lightmain/20"
        >
          <button
            class="flex gap-2 sm:gap-3 items-center w-full px-3 py-2 lg:pt-4 sm:px-4 h-full"
            data-tab="services"
          >
            <img
              src="{{ url_for('static', filename='assets/hand-holding-medical-solid.svg') }}"
              class="w-7 sm:w-9 lg:w-10 flex"
              alt=""
            />
            <div class="flex flex-col gap-0.5 lg:gap-3 items-start">
              <h5
                class="flex font-bold text-xl sm:text-2xl lg:text-3xl leading-5"
              >
                8
              </h5>
              <h5
                class="flex text-right font-semibold text-lg sm:text-xl lg:text-2xl leading-4 sm:leading-5"
              >
                خدمات الدعم
              </h5>
            </div>
          </button>
        </div>
      </div>

      <!-- map -->

      <div
        class="flex items-center justify-center w-full"
      >

        <iframe   class="w-[100%] lg:w-[100%] aspect-[5/2] lg:aspect-[6/2] object-cover rounded-xl shadow-sm shadow-black/20" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d363843.9864496753!2d40.29590603500833!3d21.38904559651173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sTaif%20hospials!5e0!3m2!1sen!2s!4v1741219023101!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">></iframe>
      </div>

      <!-- Designed by  -->
      <div class="flex gap-0.5 items-center justify-end text-sm lg:text-base">
        <span class="font-semibold text-lightmain">
          تصميم:
        </span>
      
        <h6 class="font-semibold text-darkmain">
          د. سامية المطيري
        </h6>
      </div>


    </div>
  </div>
</main>

<script>
  // Accordion & Its Animation
  const accordionHeader = document.querySelectorAll(".accordion-header");
  accordionHeader.forEach((header) => {
    header.addEventListener("click", () => {
      const content = header.nextElementSibling;
      const arrow = header.querySelector(".arrow");

      if (content.classList.contains("hidden")) {
        content.classList.remove("hidden");
        requestAnimationFrame(() => {
          content.classList.add("opacity-100", "scale-y-100");
          content.classList.remove("opacity-0", "scale-y-0");
        });
      } else {
        // Start collapsing animation
        content.classList.add("opacity-0", "scale-y-0");
        content.classList.remove("opacity-100", "scale-y-100");

        // Wait for the animation to complete before adding 'hidden'
        content.addEventListener(
          "transitionend",
          () => {
            content.classList.add("hidden");
          },
          { once: true }
        );
      }

      // Rotate the arrow
      arrow.classList.toggle("rotate-180");
    });
  });

  const buttons = document.querySelectorAll(".tab-btn");
  const contents = document.querySelectorAll(".tab-content");
  const container = document.querySelector(".button-slider"); // Parent container

  // Function to activate a tab
  function activateTab(button) {
    const target = button.getAttribute("data-tab");

    // Remove active state from all buttons
    buttons.forEach((btn) => {
      btn.classList.remove("bg-darkmain/100", "hover:bg-darkmain/100");
      btn.classList.add("bg-darkmain/30");
    });

    // Hide all content
    contents.forEach((content) => content.classList.add("hidden"));

    // Activate the clicked tab
    button.classList.remove("bg-darkmain/30");
    button.classList.add("bg-darkmain/100", "hover:bg-darkmain/100");

    // Show corresponding content
    document.getElementById("content-" + target).classList.remove("hidden");

    // Scroll the active button into the center
    button.scrollIntoView({
      behavior: "smooth",
      block: "nearest",
      inline: "center", // Ensures horizontal centering
    });
  }

  // Add click event listeners
  buttons.forEach((button) => {
    button.addEventListener("click", function () {
      activateTab(this);
    });
  });

  // Activate the first tab on page load
  if (buttons.length > 0) {
    activateTab(buttons[0]);
  }
</script>

{% endblock %}
