<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/MOHlogo.png') }}" />
    <link href="{{ url_for('static', filename='styles/output.css') }}" rel="stylesheet" />
    <title>MOH Login</title>
  </head>
  <body class="flex flex-col items-center justify-center">
    <main class="main flex flex-col gap-3 w-[96%] sm:w-[85%] lg:w-[700px] mb-4">
      <a href="{{ url_for('index') }}" class="b-bg-color text-white flex flex-col justify-center items-center px-2 py-2 gap-0.5">
        <img src="{{ url_for('static', filename='assets/MOHlogo.png') }}" alt="qjs logo" class="w-20" />
        <div class="flex flex-col">
          <h2 class="text-sm sm:text-base text-darkmain font-bold w-fit leading-4 sm:leading-6 lg:text-lg">
            <span class="hidden lg:flex">Private Hospitals List | Ministry of Health (Saudi Arabia)</span>
            <span class="flex lg:hidden">Private Hospitals List | Ministry of Health (Saudi Arabia)</span>
          </h2>
          <span class="text-xs sm:text-sm lg:text-base text-lightmain text-center font-medium">Taif Region</span>
        </div>
      </a>

      <form action="{{ url_for('login') }}" method="POST" class="flex flex-col gap-3 rounded-xl w-full bg-darkmain p-4 py-7 lg:p-10 shadow-md shadow-[#0d8c60]/60">
        {{ form.hidden_tag() }}
        <div class="flex flex-col gap-7 w-full">
          <h3 class="text-lg sm:text-xl lg:text-2xl text-white font-semibold pl-1">Sign In</h3>
          <div class="flex flex-col gap-4 sm:gap-5">
            <!-- User Name -->
            <div class="flex flex-col gap-0.5 w-full">
              <input
                required=""
                name="username"
                id="username"
                type="text"
                class="border w-full rounded-full text-sm px-2 sm:px-3 lg:px-4 py-3 sm:py-3.5 lg:py-4 bg-white focus:border-white shadow-sm sm:text-base lg:text-lg shadow-[#958a5f]/50 font-medium"
                placeholder="Username"
              />
              {% if form.username.errors %}
                <span class="c-text-xs text-red-600 sm:text-xs pl-3">{{ form.username.errors[0] }}</span>
              {% else %}
                <span class="c-text-xs text-red-600 sm:text-xs pl-3 hidden">Error here</span>
              {% endif %}
            </div>

            <!-- Password -->
            <div class="flex flex-col gap-0.5">
              <input
                required=""
                name="password"
                id="pass"
                type="password"
                class="border w-full rounded-full text-sm px-2 sm:px-3 lg:px-4 py-3 sm:py-3.5 lg:py-4 bg-white focus:border-white shadow-sm sm:text-base lg:text-lg shadow-[#958a5f]/50 font-medium"
                placeholder="Password"
              />
              {% if form.password.errors %}
                <span class="c-text-xs text-red-600 sm:text-xs pl-3">{{ form.password.errors[0] }}</span>
              {% else %}
                <span class="c-text-xs text-red-600 sm:text-xs pl-3 hidden">Error here</span>
              {% endif %}
            </div>
          </div>

          <!-- Sign In -->
          <div class="flex flex-col gap-2">
            <span class="text-xs text-slate-200 sm:text-sm pl-3 flex justify-center">
              In case of Forget Password, <a href="#" class="text-white">Click here</a>
            </span>
            <button
              type="submit"
              class="px-4 py-2 lg:py-3 m-btn-white text-base sm:text-lg lg:text-xl lg:font-bold rounded-full shadow-sm bg-white hover:bg-transparent border text-darkmain border-light hover:text-white shadow-[#958a5f]/15 font-semibold"
            >
              Sign In
            </button>

            <!-- Page Error -->
            <div class="flex bg-white px-2 py-4 mt-4 rounded-xl {% if error %}block{% else %}hidden{% endif %}">
              <div class="flex flex-col gap-1 justify-center w-full">
                <span class="text-sm text-red-600 sm:text-xs pl-3 flex justify-center items-center font-medium">ERROR</span>
                <span class="c-text-xs text-red-600 sm:text-xs pl-3 flex justify-center items-center">{{ error }}</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>